.menuButton
{
    -fx-background-color :  transparent;
}
.menuButton:hover
{
    -fx-background-color : #87ceff;
    -fx-background-radius : 30px;
}
.menuButton:pressed
{
    -fx-background-color : #6ca6cd;
    -fx-background-radius : 30px;
}

#settingButton
{
    -fx-background-color :  transparent;
}
#settingButton:hover
{
    -fx-background-color : #87ceff;
}
#settingButton:showing
{
    -fx-background-color : #6ca6cd;
}
.settingItem
{
    -fx-pref-width: 179px;
    -fx-pref-height: 40px;
    -fx-font-size : 13px;
    -fx-cursor: hand;
}

#settingButton .context-menu
{
     -fx-background-color:#87ceff;

}


#sidebarPane
{
    -fx-background-color : #222222;
}

.dbButton
{
    -fx-background-color : transparent;
    
}
.dbButton .arrow 
{
    -fx-background-color : #ffffff;
}
.dbButton:hover
{
    -fx-background-color : #3f3f3f;
}
.dbButton:showing
{
    -fx-background-color : #3f3f3f;
}
.dbItem
{
    -fx-pref-width: 198px;
    -fx-pref-height: 60px;
    -fx-background-color : transparent;
    -fx-cursor: hand;
    -fx-border-width: 0px 0px 2.5px 0px;
    -fx-border-color: #ffffff;
    
}
.dbItem .label
{
    -fx-font-size : 20px;
    -fx-text-fill: #ffffff;
    
}
/*** The context menu that contains a menu's menu items ***/  
.context-menu {
    -fx-background-color: transparent;
}
.dbItem:hover
{
    -fx-background-color : gray;
}
.dbItem:focus
{
    -fx-text-fill: #ffffff;
}